%div{ class: "content-container #{content&.background ? content&.background : 'white'}-bg" }
  .container
    .column
      .title
        Join us on a webinar
      .description
        T-Mobile Customer Spotlight
      = link_to "Register now", "/webcast/aws-tmobile-gitlab/", class: "webinar-button margin-top10 cta-btn"
      .description.opacity05
        Learn How T-Mobile is Transforming its Business with GitLab on its DevOps Journey.
