<div class="slp-flex slp-flex-wrap slp-items-center <%= label_enabled ? 'slp-justify-start' : 'slp-justify-center' %> tags">
  <% if label_enabled %>
    <span class="slp-text-sm slp-text-grayscale-333 slp-mx-2">Tags:</span>
  <% end %>
  <% current_article.tags.each do |tag| %>
    <% if current_page.request_path.start_with?('releases') %>
      <a
        href="<%= "/releases/tags.html##{tag.gsub(/\s+/, '-')}" %>"
        class="slp-border slp-border-grayscale-highlight slp-text-xs slp-text-ui-secondary slp-leading-8 slp-rounded-full slp-py-4 slp-px-8 slp-shadow slp-m-8 slp-inline-block hover:slp-border-ui-secondary-dark focus:slp-border-ui-secondary-dark hover:slp-shadow-md focus:slp-shadow-md"
      >
      <% else %>
        <a
        href="<%= "/blog/tags.html##{tag.gsub(/\s+/, '-')}" %>"
        class="slp-border slp-border-grayscale-highlight slp-text-xs slp-text-ui-secondary slp-leading-8 slp-rounded-full slp-py-4 slp-px-8 slp-shadow slp-m-8 slp-inline-block hover:slp-border-ui-secondary-dark focus:slp-border-ui-secondary-dark hover:slp-shadow-md focus:slp-shadow-md"
      >
        <% end %>
        <%= tag %>
      </a>
    <% end %>
  </div>
